.design {
  position: relative;
  padding: 65px 0 0 0;
}

.design__container {
  @media (min-width: 1921px) {
    position: relative;
  }

  @media (max-width: 1750px) {
    display: flex;
    flex-direction: column;
  }
}

.design__title {
  margin-bottom: 35px;
  font-size: 55px;

  @media (max-width: 768px) {
    font-size: 28px;
  }
}

.design__content {
  max-width: 1051px;
  align-self: center;
}

.design__list {
  margin-bottom: 10px;
}

.design__item {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 35px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 15px;
  }
}

.design__icon-block {
  width: 45px;
  height: 45px;
  min-width: 45px;
}

.design__right {
  position: absolute;
  right: 26px;
  bottom: 119px;

  @media (min-width: 1921px) {
    right: -100px;
  }
}

.design__image-block {
  max-width: 634px;

  @media (max-width: 1750px) {
    display: none;
  }
}