.form {
  display: flex;
  flex-direction: column;
  max-width: 458px;
  border-radius: 15px;
  padding: 25px 79px;
  background-color: rgba(#373C3F, .7);
  text-align: center;
  font-size: 14px;

  @media (max-width: 768px) {
    padding: 25px 35px;
  }
}

.form__desc {
  max-width: 240px;
  margin-bottom: 25px;
  align-self: center;

  @media (max-width: 768px) {
    margin-bottom: 5px;
  }
}

.form__input {
  margin-bottom: 25px;
}

.form__submit {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 17px 25px 16px;
  border-radius: 15px;
  border: none;
  color: $beige;
  text-align: center;
  outline: none;
  color: $white;
  background-color: $beige;
  text-transform: uppercase;

    @media (max-width: 768px) {
      padding: 8px 45px;
    }
}

.form__confirmation {
  font-size: 12px;

  & a {
    text-decoration: underline;
  }
}