
//MEDIA
$desktop: 1370px;
$tablet: 768px;

//COLORS
$beige: #C8AB81;
$black: #373C3F;
$white: #FFFFFF;

//FONTS
$font: "Montserrat", Arial, sans-serif;

//MEDIA

$desktop: 1920px;
$tablet: 768px;
$mobile: 320px;


